# Site settings
title: Beyond Care
email: frank@beyondcare.dk
phone: "+45 2241 6614"
description: > # this means to ignore newlines until "baseurl:"
baseurl: "/" # the subpath of your site, e.g. /blog/
url: "" # the base hostname & protocol for your site
google_analytics_code: "UA-78953173-1"

# Other settings
timezone: Europe/Copenhagen
exclude: [vendor]

# Pages as collections
collections:
  pages:
    output: true
    permalink: /:path

# Build settings
kramdown:
  input: GFM
  parse_block_html: true
  remove_block_html_tags: true

# Sass settings
sass:
  style: compressed

# Prose integration
prose:
  siteurl: "http://beyondcare.dk"
  media: 'img'
  ignore:
    - .codio
    - .htaccess
    - .gitignore
    - .probo.yaml
    - .sass-lint.yml
    - .travis.yml
    - _config.yml
    - CNAME
    - favicon.ico
    - Gemfile
    - Gemfile.lock
    - gulpfile.js
    - LICENCE
    - package.json
    - README.md
    - /_layouts
    - /_sass
    - /css
    - /font-awesome
    - /fonts
    - /js
  metadata:
    _pages:
      - name: "layout"
        field:
          element: "select"
          value: "default"
          options:
            - name: "Default"
              value: "default"
            - name: "Coaching"
              value: "coaching"
            - name: "About"
              value: "about"
            - name: "Massage"
              value: "massage"
