---
layout: default
title: Beyond Care
aside:
  heading: "Klar til at ændre dit liv?"
  text: "Hvilken enkelt overbevisning ville forbedre kvaliteten af dit liv, hvis du virkelig integrerede den?"
  cta_url: "#contact"
  cta_text: "Kontakt mig nu!"
cta:
  heading: "Jeg kan hjælpe dig videre"
  text: "Jeg er helt klar til at blive en brik i dit fremtidige liv."
  url: "#contact"
  button: "Start allerede i dag"
portfolio:
  - picture: /img/portfolio/bc-5.jpg
    category: Massage
    name: Professionel massage hjælper ganske enkelt.
    url: /massage
  - picture: /img/portfolio/bc-6.jpg
    category: Tapening
    name: Brug for at blive tapet op? Kinesiotape har bevist effekt.
    url: /massage
  - picture: /img/portfolio/bc-2.jpg
    category: Sportsakupunktur
    name: Evidensbaseret virkning! Sportsakupunktur er især velegnet til sportsskader, men kan bruges i mange flere sammenhænge.
    url: /massage
  - picture: /img/portfolio/bc-3.jpg
    category: Livsstilscoaching
    name: Har du brug for at finde frem til det du virkelig vil?
    url: /coaching
  - picture: /img/portfolio/bc-1.jpg
    category: Napoleon Hill
    name: "Vent ikke – tidspunktet vil aldrig være perfekt"
    url: /coaching
  - picture: /img/portfolio/bc-4.jpg
    category: Erhvervscoaching
    name: Har din virksomhed, dit team eller du som leder brug for at blive endnu skarpere på det I allerede kan?
    url: /erhvervscoaching
---
{% include header.html %}
{% include call-to-action.html %}
{% include services.html services=site.services heading="BeyondCare tilbyder" %}
{% include portfolio.html tag="massage coaching" %}
{% include aside.html %}
{% include contact.html %}
