<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Jeg kan hjælpe dig videre</h2>
                <hr class="light">
                <p class="text-faded">Jeg er helt klar til at blive en brik i dit fremtidige liv.</p>
                <a href="#contact" class="btn btn-default btn-xl">Start allerede i dag</a>
            </div>
        </div>
    </div>
</section>
