<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Firmaaftaler eller hjemme hos dig selv</h2>
                <hr class="light">
                <p class="text-faded">Jeg tilbyder firmaaftaler og kommer meget gerne ud til netop din virksomhed. Giv mig et kald, så finder vi sammen en løsning, der passer dit firma og medarbejdere. Jeg kommer med briks, lagen, olie/massagecreme – du skal bare medbringe et håndklæde og vand samt stille et lokale til rådighed.</p>
                <p class="text-faded">Jeg kommer også meget gerne hjem til dig – kontakt mig for nærmere aftale.</p>
                <a href="#contact" class="btn btn-default btn-xl">Kontakt</a>
            </div>
        </div>
    </div>
</section>
