<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Lad os komme i kontakt!</h2>
                <hr class="primary">
                <p>Er du klar til at komme i kontakt, så skynd dig at ringe eller skrive, så vi kan finde ud af noget!</p>
            </div>
        </div>
        {% for item in site.data.contact %}
        <div class="col-lg-4 text-center">
            <a href="{{ item.href }}">
            <i class="fa fa-{{ item.icon }} fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ item.text }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
