<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/logo.png" alt="BeyondCare" title="BeyondCare" />
            <p>COACHING indenfor livsstil og erhverv - er du lige præcis dér, hvor du gerne vil være i livet og i  karrieren? SPORTSTERAPI - Massage, akupunktur og tapening. Mit mål er at hjælpe dig i mål!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Se hvad jeg tilbyder</a>
        </div>
    </div>
</header>
