<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for picture in site.data.settings.pictures %}
            {% if include.tag contains picture.tag %}
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.baseurl }}{{ picture.url }}" class="portfolio-box">
                    <img src="img/portfolio/{{ picture.picture }}" class="img-responsive" alt="{{ picture.category }}">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ picture.category }}
                            </div>
                            <div class="project-name">
                                {{ picture.project-name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
