<section>
  <div class="container table-responsive">
    <h2>Priser</h2>
    <p>Er du i tvivl om, hvad coaching kan gøre for dig eller hvilken behandling ift. din skade der er den rigtige, så kontakt mig gerne. Jeg tilbyder alle mine klienter 30 min. gratis samtale inden et forhåbentligt samarbejde.</p>

    <table class="table table-stribed table-hover">
      <tbody>
      {% for item in site.data.settings.prices %}
      {% if include.tag contains item.tag %}
      <tr>
        <th>{{ item.service }}</th>
        <td>{{ item.price }}</td>
      </tr>
      {% endif %}
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2">Alle priser er inkl. moms.</td>
      </tr>
      </tfoot>
    </table>
  </div>
</section>