<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Beyond Care tilbyder</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Målsætning og coaching</h3>
                    <p class="text-muted">En erfaren og troværdig samarbejdspartner, der hjælper dig med at nå dine mål.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Behandling</h3>
                    <p class="text-muted">Massage to tapening, hvor og når du har brug for det.</p>
                </div>
            </div>
        </div>
    </div>
</section>
