<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Min tidslinje</h2>
                    <h3 class="section-subheading text-muted">Lad tidslinjen fortælle om dine uddannelser mv. og lad den første tekst være lidt mere ligepå, hvad du tror på som person. Vil du være en del af min historie.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        {% for item in site.data.timeline %}
                        <li class="{% cycle '', 'timeline-inverted' %}">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/{{ item.picture }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ item.year }}</h4>
                                    <h4 class="subheading">{{ item.headline }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ item.comment }}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <li>
                            <div class="timeline-image">
                                <h4>Bliv en
                                    <br>del af min
                                    <br>historie!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>